STORAGE_SERVER_MAC=
BROADCAST_ADDRESS=
JELLYFIN_API_URL=
JELLYFIN_API_KEY=
CHECK_INTERVAL=
PACKET_COOLDOWN_TIME=
COOLDOWN_TIME=
SHUTDOWN_SSH_USER=
LOG_LEVEL=INFO    # DEBUG for verbose output, WARNING for quiet mode